@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face{
    font-family: 'jungle';
    src: url('fonte/Jungle\ Mask.otf');
}

body{
    margin: auto;
    background-image: linear-gradient( to top, #DEEBF5, #F8E3D4, #F7E3D3);
    background-repeat: no-repeat;
    
    
}

h1{
    font-family: 'jungle';
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    
    
}
.subtitulo{
    font-family: "Roboto",  sans-serif; 
    font-style: normal;
    font-size: 1.2em;
    
}
.bloco{
    margin: auto;
    background-color: white;
    border: lightgray solid 1px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 40%;
    
}

.bloco > p{


width: 10vw;
text-align: left;
display: inline-block;

}
.bloco > img{

width: 24px;
position: absolute;
top: 50%;
right: 3%;
transform: translate(-50%, -50%);
}
.link{
    color: #ff916d;
}
.link:hover{
text-decoration:underline;
transform: translate(-0px, -2px);
transition: transform 0.3s;

}
p{
    font-family: "Roboto", 
    sans-serif; 
    font-size: 1.2em;
    font-style:normal;
    text-align: center;
}

footer{
    background-color: black;
    height: 50px;
    color: white;
    padding: 10px; 
   
}

